version: '3.8'
services:
  minio:
    image: minio/minio
    container_name: minio_server
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
      MINIO_SERVER_URL: "http://0.0.0.0:9000"
      MINIO_BROWSER_REDIRECT_URL: "http://0.0.0.0:9001"
    command: server /data --console-address ":9001" --address ":9000"
    volumes:
      - ./minio_data:/data

  mongo:
    image: mongo:latest
    container_name: mongo_server
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - ./mongo_data:/data/db